# rename this to .env and fill in the blank variables
PORT=80
FETCH_INTERVAL=60000 # 1 minute
GEO_FETCH_INTERVAL=86400000 # 24 hours
DEFAULT_UNL_URL=https://vl.ripple.com
VALIDATORS_URL=https://data.ripple.com/v2/network/validators
VALIDATOR_DAILY_REPORTS_URL=https://data.ripple.com/v2/network/validator_reports
IPSTACK_GET_URL=http://api.ipstack.com
IPSTACK_API_KEY=
EXCLUDE_VALIDATOR_DOMAINS_PATTERNS=.*ripple.com/build/xrp-test-net.*